.testimonials {
    padding: 100px 80px;
    margin: 0;
    position: relative;
    background-color: var(--avFirst);
}
.testimonials .main-title {
    font-size: 2rem;
    color: var(--avThird);
}
.testimonials .container {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    place-items: center;
}
.testimonials .box {
    width: 300px;
    height: auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 4px rgb(0 0 0 / 7%);
    border-radius: 6px;
    position: relative;
}
.testimonials .box img {
    position: absolute;
    right: -10px;
    top: -50px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 10px solid var(--avFirst);
}
.testimonials .box h3 {
    margin: 0 0 10px;
}
.testimonials .box .title {
    color: #777;
    margin-bottom: 10px;
    display: block;
}
.testimonials .box .rate .filled {
    color: #ffc107;
}
.testimonials .box p {
    line-height: 1.5;
    color: #777;
    margin-top: 10px;
    margin-bottom: 0;
}
/*small*/
@media (min-width: 168px) {
    .testimonials .container {
        grid-template-columns: repeat(1, minmax(300px, 1fr));
    }
}
/*mediam*/
@media (min-width: 686px) {
    .testimonials .container {
        grid-template-columns: repeat(2, minmax(300px, 1fr));
    }
}
/*large*/
@media (min-width: 1200px) {
    .testimonials .container {
        grid-template-columns: repeat(3, minmax(300px, 1fr));
    }
}